<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/layout :: head(${car.manufacturer} + ' ' + ${car.model} + ' ' + ${car.year})"></head>

<body>

<header th:replace="fragments/layout :: header"></header>

<main class="container">
    <h1 th:text="${car.manufacturer} + ' ' + ${car.model} + ' ' + ${car.year}">Toyota Prius 2009</h1>
    <a th:text="#{button.edit}" th:href="@{/cars/{id}/edit(id = ${car.id})}" class="btn btn-outline-dark">Edit</a>
    <div th:if="${createSuccess} != null">
        <hr>
        <div th:text="#{cars.create.success}" class="alert alert-success" role="alert">
            Car has been created successfully
        </div>
    </div>
    <hr>
    <div th:object="${car}" class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="id"><strong th:text="#{cars.id}">Id</strong></label>
                <input type="text" id="id" name="id" class="form-control-plaintext" th:field="*{id}" disabled>
            </div>
            <div class="form-group">
                <label for="owner"><strong th:text="#{cars.owner}">Owner</strong></label>
                <input type="text" id="owner" name="owner" class="form-control-plaintext"
                       th:value="${owner} != null ? ${owner.getFullName()} : '-'" disabled>
            </div>
            <div class="form-group">
                <label for="company"><strong th:text="#{users.company}">Company</strong></label>
                <input type="text" id="company" name="company" class="form-control-plaintext"
                       th:value="${car.company} != null ? ${car.company.name} : '-'" disabled>
            </div>
            <div class="form-group">
                <label for="manufacturer"><strong th:text="#{cars.manufacturer}">Manufacturer</strong></label>
                <input type="text" id="manufacturer" name="manufacturer" class="form-control-plaintext"
                       th:field="*{manufacturer}" disabled>
            </div>
            <div class="form-group">
                <label for="model"><strong th:text="#{cars.model}">Model</strong></label>
                <input type="text" id="model" name="model" class="form-control-plaintext" th:field="*{model}" disabled>
            </div>
            <div class="form-group">
                <label for="year"><strong th:text="#{cars.year}">Year</strong></label>
                <input type="text" id="year" name="year" class="form-control-plaintext" th:field="*{year}" disabled>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="form-group">
                <label for="color"><strong th:text="#{cars.color}">Color</strong></label>
                <input type="text" id="color" name="color" class="form-control-plaintext" th:field="*{color}" disabled>
            </div>
            <div class="form-group">
                <label for="description"><strong th:text="#{cars.description}">Description</strong></label>
                <textarea id="description" name="description" class="form-control-plaintext" th:field="*{description}"
                          disabled></textarea>
            </div>
            <div class="form-group">
                <label for="value"><strong th:text="#{cars.value}">Value</strong></label>
                <input type="text" id="value" name="value" class="form-control-plaintext" th:field="*{value}" disabled>
            </div>
            <div class="form-group">
                <label for="created"><strong th:text="#{cars.created}">Created</strong></label>
                <input type="text" id="created" name="created" class="form-control-plaintext" th:field="*{created}"
                       disabled>
            </div>
            <div class="form-group">
                <label for="updated"><strong th:text="#{cars.updated}">Updated</strong></label>
                <input type="text" id="updated" name="updated" class="form-control-plaintext" th:field="*{updated}"
                       disabled>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>
